@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background-rgb: 253, 252, 251 /* F2E7DC convertido a RGB */
  /* Otras variables... */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Cambiado a un solo color */
}

@media (color-scheme: dark) {
  :root {
    --background-rgb: 2, 5, 19; /* Nuevo valor oscuro */
    /* Otras variables... */
  }
}
